<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:site_name" content="{{siteTitle}}">
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="website">
<meta property="og:url" content="{{siteUrl}}/{{currentPage}}">
<meta property="og:title" content="{{siteTitle}}">
<meta name="twitter:title" content="{{siteTitle}}">
<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
<meta name="twitter:description" content="{{description}}">
<meta property="og:image" content="{{siteUrl}}/images/about.jpg">
<meta property="og:image:width" content="465">
<meta property="og:image:height" content="473">
<meta name="twitter:image" content="{{siteUrl}}/images/{{image}}?auto=compress,format">
<meta name="twitter:image:alt" content="{{imageAlt}}">
<meta name="twitter:card" content="summary_large_image">
{{!--
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> --}}
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
{{!--
<link rel="preload" as="font" type="font/woff2" href="/fonts/Inter-Regular.woff2"> --}}
<link rel="canonical" href="{{siteUrl}}/{{currentPage}}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link id="main" rel="stylesheet" href="/css/style.css?v=2025-09-13">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel="stylesheet">

<script src="/js/modernizr2.8.3.js"></script>